## Projeção

In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.float_format', '{:.2f}'.format) 
#Comando para evitar notações cientificas, nº grandes

In [2]:
# Importando CSV
table = pd.read_csv('Empresas_Projeto_Awari_ML.csv',error_bad_lines=False, delimiter= ';',
                    encoding='ISO-8859-1',thousands=",", decimal=".")

In [3]:
table

,Empresa,Descriçao,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,MGLU,Receita_liquida,"6,419","7,665","8,109","9,779","8,978","9,508","11,984","15,590","19,886","29,177"
1,MGLU,Custos,"-4,275","-5,146","-5,825","-7,086","-6,399","-6,586","-8,378","-11,053","-14,332","-21,657"
2,MGLU,Resultado_bruto,"2,144","2,519","2,284","2,693","2,579","2,922","3,606","4,537","5,554","7,520"
3,MGLU,Despesas_oper.,"-1,930","-2,370","-1,908","-2,201","-2,239","-2,341","-2,718","-3,455","-4,265","-6,695"
4,MGLU,Res._operacional,214,149,376,492,340,581,888,"1,082","1,289",825
...,...,...,...,...,...,...,...,...,...,...,...,...
137,GUAR,Outros_PC,462,618,825,"1,174","1,376","1,659","1,719","2,690","2,946","2,744"
138,GUAR,Passivo_Nao_Circ.,650,718,688,"1,122",927,"1,059","1,132","1,605","2,977","3,718"
139,GUAR,Emprest._LP,426,476,406,790,581,659,718,"1,416","2,003","2,783"
140,GUAR,Outros_PNC,224,242,281,331,345,399,413,189,973,935
141,GUAR,Patrimonio_Liq.,"2,238","2,526","2,829","3,175","3,390","3,616","4,025","4,929","5,224","5,027"

In [4]:
table.index

RangeIndex(start=0, stop=142, step=1)

In [11]:
table2 = table.T
table2

,0,1,2,3,4,5,6,7,8,9,...,132,133,134,135,136,137,138,139,140,141
Empresa,MGLU,MGLU,MGLU,MGLU,MGLU,MGLU,MGLU,MGLU,MGLU,MGLU,...,GUAR,GUAR,GUAR,GUAR,GUAR,GUAR,GUAR,GUAR,GUAR,GUAR
Descriçao,Receita_liquida,Custos,Resultado_bruto,Despesas_oper.,Res._operacional,Res._Financeiro,IR_e_CSSL,Op._descontin.,Lucro_liquido,Ativo_Total,...,Outros_ANC,Passivo_Total,Passivo_Circ.,Fornecedores,Emprest._CP,Outros_PC,Passivo_Nao_Circ.,Emprest._LP,Outros_PNC,Patrimonio_Liq.
2011,"6,419","-4,275","2,144","-1,930",214,-165,-36,0,13,"4,877",...,394,"3,710",821,222,137,462,650,426,224,"2,238"
2012,"7,665","-5,146","2,519","-2,370",149,-172,17,0,-6,"5,664",...,388,"4,240",995,227,148,618,718,476,242,"2,526"
2013,"8,109","-5,825","2,284","-1,908",376,-243,-17,0,116,"4,713",...,415,"4,758","1,240",244,170,825,688,406,281,"2,829"
2014,"9,779","-7,086","2,693","-2,201",492,-360,-1,0,131,"5,290",...,478,"5,941","1,643",256,212,"1,174","1,122",790,331,"3,175"
2015,"8,978","-6,399","2,579","-2,239",340,-486,81,0,-65,"5,588",...,716,"7,032","2,715",502,836,"1,376",927,581,345,"3,390"
2016,"9,508","-6,586","2,922","-2,341",581,-503,9,0,87,"6,187",...,838,"7,720","3,045",453,931,"1,659","1,059",659,399,"3,616"
2017,"11,984","-8,378","3,606","-2,718",888,-410,-87,0,391,"7,419",...,959,"7,981","2,824",524,581,"1,719","1,132",718,413,"4,025"
2018,"15,590","-11,053","4,537","-3,455","1,082",-294,-189,0,599,"8,796",...,"1,880","10,472","3,937",519,726,"2,690","1,605","1,416",189,"4,929"
2019,"19,886","-14,332","5,554","-4,265","1,289",-70,-296,0,923,"19,791",...,"2,014","12,602","4,400",631,821,"2,946","2,977","2,003",973,"5,224"
2020,"29,177","-21,657","7,520","-6,695",825,-410,-22,0,393,"24,647",...,"2,064","13,826","5,080","1,033","1,301","2,744","3,718","2,783",935,"5,027"

In [10]:
table2

DataError: No numeric types to aggregate

In [107]:
#table2.to_csv('Projecao_T.csv', sep = ';', index = True)